
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.nav-link.active {
   color: red;
}

.navlinkadmin.active{
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.listItem {
    display: none;
}

.listNav:hover .listItem {
    display: block;
}

.listItem::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 50px;
    top: -33px;
}

.count-holder{
    display: inline-block;
    vertical-align: top;
    background: #2962ff;
    color: #fff;
    font-size: 11px;
    text-align: center;
    left: 23px;
    top: -10px;
    padding: 0px 3px;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
}